
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
Simulation.pyc
Documents/.~lock.automation_1.docx#
Documents/.~lock.Simulation Guide.docx#
Documents/.~lock.Simulation_Stratagy.docx#
.~lock.Equations For Motorcycle Optimization.docx#
